@import "~bootstrap/scss/functions"; //載入boostrap套用變數的方法
@import "./helpers/_variables"; //載入自定義變數
@import "~bootstrap/scss/bootstrap";
@import "./dashboard"; //載入dashboard的scss

.products-tabs{
  .tab-pane{
  padding-bottom: 100px;
  }
}

.product {
  .product-body{
    .product-name{
    font-size: 18px;
    }
  } 
}

.Page.navigation.example{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-grid{
  padding-top: 30px;
  padding-bottom: 30px;
}

// .intro-page-title{
//   // color:#D10024;
// }

.dropdown-toggle::after{
  display: none;
}
